@model List<Student>

<h2>List of Students</h2>
<hr />
<table class="table">
	<thead>
		<tr>
			<th>
				Id
			</th>
			<th>
				Name
			</th>
			<th>
				Description
			</th>
		</tr>
	</thead>
	<tbody>

		@foreach (var student in Model)
		{
			<tr>
				<td>@student.Id</td>
				<td>@student.Name</td>
				<td>@student.Address</td>
				<td>@student.Email</td>
				<td>@student.Phone</td>
			</tr>
		}


	</tbody>
</table>